doctype html
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title VideoCamara
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Pagina de inico al servidor')
    meta(name='keywords', content='Video Vigilanacia')
    meta(name='author', content='Manuel y Diego ')
    // Facebook and Twitter integration
    meta(property='og:title', content='')
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:card', content='')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700', rel='stylesheet')
    // Animate.css
    link(rel='stylesheet', href='css/animate.css')
    // Icomoon Icon Fonts
    link(rel='stylesheet', href='css/icomoon.css')
    // Themify Icons
    link(rel='stylesheet', href='css/themify-icons.css')
    // Bootstrap
    link(rel='stylesheet', href='css/bootstrap.css')
    // Magnific Popup
    link(rel='stylesheet', href='css/magnific-popup.css')
    // Owl Carousel
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    // Theme style
    link(rel='stylesheet', href='css/style.css')
    // Modernizr JS
    script(src='js/modernizr-2.6.2.min.js')  
    script(src='/socket.io/socket.io.js')
    // FOR IE9 below
    //
      if lt IE 9script(src='js/respond.min.js')
  body
    .gtco-loader
    #page
      .page-inner
        nav.gtco-nav(role='navigation')
          .gtco-container
            .row
              .col-sm-4.col-xs-12
                #gtco-logo
                    //img.img-responsive(src='images/Logotipo11.png')
                a(href='index.html')
              .col-xs-8.text-right.menu-1
                ul
                  li
                    a(href='features.html') Features
                  li
                    a(href='tour.html') Tour
                  li.has-dropdown
                    a(href='#') Dropdown
                    ul.dropdown
                      li
                        a(href='#') Web Design
                      li
                        a(href='#') eCommerce
                      li
                        a(href='#') Branding
                      li
                        a(href='#') API
                  li
                    a(href='pricing.html') Pricing
                  li
                    a(href='contact.html') Contact
                  li.btn-cta
                    a(href='#')
                      span Get started
        header#gtco-header.gtco-cover(role='banner', style='background-image: url(images/img_4.jpg);height: 1101px;')
          .overlay
          .gtco-container
            .row
              .col-md-12.col-md-offset-0.text-left
                .row.row-mt-15em
                  .col-md-4.mt-text.animate-box(data-animate-effect='fadeInUp')
                    span.intro-text-small(align='center')
                      | Sistema de Alerta Vecinal
                      | Para el Monitoreo de Incidencias  Mediante Transmisión de Video en Streaming
                  .col-md-7.col-md-push-1.animate-box(data-animate-effect='fadeInRight')
                    .form-wrap
                      .tab
                        ul.tab-menu
                          li.active.gtco-first
                            a(href='#', data-tab='signup') Registrarse
                          li.gtco-second
                            a(href='#', data-tab='login') Inicio de Sesión
                        .tab-content
                          .tab-content-inner.active(data-content='signup')
                            #{hola}
                             | #{hola2}
                            form(action='/user', method='post')
                              .row.form-group
                                .col-md-12
                                  label(for='nombre') Nombre
                                  input#Nombre.form-control(type='text', name='nombre', required='')
                              .row.form-group
                                .col-md-12
                                  label(for='apellidoma') Apellido Paterno
                                  input#ApellidoPaterno.form-control(type='text', name='apellidopaterno', required='')
                              .row.form-group
                                .col-md-12
                                  label(for='apellidom') Apellido Materno
                                  input#ApellidoMaterno.form-control(type='text', name='apellidomaterno', required='')
                               .row.form-group
                                .col-md-12
                                  label(for='domicilio') Domicilio
                                  input#email.form-control(type='domicilio', name='domicilio', required='')
                              .row.form-group
                                .col-md-12
                                  label(for='correo') Correo Electrónico
                                  input#email.form-control(type='email', name='email', required='')
                              .row.form-group
                                .col-md-12
                                  label(for='contraseña') Contraseña
                                  input#email.form-control(type='password', name='contraseña', required='')
                              .row.form-group
                                .col-md-12
                                  label(for='contraseñaconfirmada') Confirma tu Contraseña
                                  input#email.form-control(type='password', name='password_confirmation', required='')
                               .row.form-group
                                .col-md-12
                                  label(for='redcamaras') Seleccione el Estado de la Red
                                  select.form-control(name="rol")
                                        option(value="Administrador") Administrador 
                                        option(value="Usuario") Usuario
                                 //a(href="/app/redescamra/{}")   
                              .row.form-group
                                .col-md-12
                                  input.btn.btn-primary(type='submit', required='', value='Registarte ')
                          .tab-content-inner(data-content='login')
                            form(action='/sessions', method='post')
                              .row.form-group
                                .col-md-12
                                  label(for='email') Correo Electronico
                                  input#email.form-control(type='text', name='email')
                              .row.form-group
                                .col-md-12
                                  label(for='contraseña') Contraseña
                                  input#password.form-control(type='password', name='contraseña')
                              .row.form-group
                                .col-md-12
                                  input.btn.btn-primary(type='submit', value='Ingresar')
        footer#gtco-footer(role='contentinfo')
          .gtco-container
            .row.row-p.b-md
              .col-md-8
                .gtco-widget
                  h3(align='center') Acerca del Trabajo Terminal 
                  p(align='center')
                    | Esta es una aplicación dedicada al monitoreo de cámaras IP dentro de una comunidad o rango geográfico delimitado, en donde en esta página usted podrá registrar su cámara y permanecer dentro de una comunidad de usuarios permitiéndole  a usted ver cámaras de otros usuarios
              .col-md-4
                .gtco-widget
                  h3 Comuníquese con el administrador
                  ul.gtco-quick-contact
                    li
                      a(href='#')
                        i.icon-mail2
                        |  mambrizb1200@alumno.ipn.mx
                    li
                      a(href='#')
                        i.icon-mail
                        |  diego4ng@hotmail.com
        .gototop.js-top
          a.js-gotop(href='#')
            i.icon-arrow-up
        // jQuery
        script(src='js/jquery.min.js')
        // jQuery Easing
        script(src='js/jquery.easing.1.3.js')
        // Bootstrap
        script(src='js/bootstrap.min.js')
        // Waypoints
        script(src='js/jquery.waypoints.min.js')
        // Carousel
        script(src='js/owl.carousel.min.js')
        // countTo
        script(src='js/jquery.countTo.js')
        // Magnific Popup
        script(src='js/jquery.magnific-popup.min.js')
        script(src='js/magnific-popup-options.js')
        // Main
        script(src='js/main.js')
        